[submodule "mosaic-repositories"]
	path = mosaic-repositories
	url = ../mosaic-distribution-repositories.git
[submodule "mosaic-dependencies"]
	path = mosaic-dependencies
	url = ../mosaic-distribution-dependencies.git
[submodule "specs-repositories"]
	path = specs-repositories
	url = ../specs-distribution-repositories.git
[submodule "specs-dependencies"]
	path = specs-dependencies
	url = ../specs-distribution-dependencies.git
